<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <!-- Sidebar logo -->
    <div class="sidebar-logo" style="text-align: center;">
      <img src="/website/imgs/SystemsEthology2025notomi.png" width="60%">
    </div>

  <!-- <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div> -->

  <nav class="sidebar-nav">
    <!-- Home link always at the top -->
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
  
    <!-- Dynamically generate only root-level pages (exclude any folders) -->
    <!-- {% assign ordered_pages = site.pages | where: "layout", "page" | sort: "order" %}
    {% for node in ordered_pages %}
      {% if node.dir == '/' and node.title and node.title != "Home" %}
        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">
          {{ node.title }}
        </a>
      {% endif %}
    {% endfor %} -->

    <!-- Dynamically generate other pages in specified order --> 
    {% assign ordered_pages = site.pages | where: "layout", "page" | sort: "order" %}
    {% for node in ordered_pages %}
    <!-- Exclude pages in the 'event' folder -->
      {% unless node.path contains '/' %}
      {% if node.title and node.title != "Home" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">
          {{ node.title }}
          </a> 
        {% endif %} 
      {% endunless %} 
    {% endfor %}
  
    <span class="sidebar-nav-item">Page Update {{ site.time | date: '%Y-%m-%d' }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy;Copyright {{ site.time | date: '%Y' }} Systems Ethology
    </p>
  </div>
</div>
