.image-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.image-grid img {
    width: 250px;
    transition: transform 0.2s;
    cursor: pointer;
}

.image-grid img:hover {
    transform: scale(1.05);
}
